<div class="big-loader" *ngIf="areas.loading"></div>
<div class="alert alert-danger" *ngIf="areas.error">{{areas.error}}</div>
<table class="table table-striped table-sm" *ngIf="areas.data">
  <tr *ngIf="areas.data.arableArea">
    <td>Arable: </td>
    <td>{{areas.data.arableArea}} ha</td>
  </tr>
  <tr *ngIf="areas.data.meadowArea">
    <td>Meadow: </td>
    <td>{{areas.data.meadowArea}} ha</td>
  </tr>
  <tr *ngIf="areas.data.forestArea">
    <th>Forest: </th>
    <td>{{areas.data.forestArea}} ha</td>
  </tr>
  <tr *ngIf="areas.data.underWaterArea">
    <td>Under water: </td>
    <td>{{areas.data.underWaterArea}} ha</td>
  </tr>
  <tr *ngIf="areas.data.buildingsArea">
    <td>Buildings: </td>
    <td>{{areas.data.buildingsArea}} ha</td>
  </tr>
  <tr *ngIf="areas.data.buildingsArea">
    <td>Yard: </td>
    <td>{{areas.data.yardArea}} ha</td>
  </tr>
  <tr *ngIf="areas.data.otherArea">
    <td>Other: </td>
    <td>{{areas.data.otherArea}} ha</td>
  </tr>
  <tr *ngIf="areas.data.area">
    <th>Total: </th>
    <th>{{areas.data.area}} ha</th>
  </tr>
</table>
