<div class="row">
  <div class="col-sm-3" *ngIf="!simple">
    <div class="card">
      <div class="card-header">
        Filters
      </div>
      <div class="card-body">
        <div class="big-loader" *ngIf="prepData.loading"></div>
        <div class="alert alert-danger" *ngIf="prepData.error">{{statisticsData.error}}</div>

        <form (ngSubmit)="getStatistics()" *ngIf="prepData.data">
          <fieldset [disabled]="statisticsData.loading">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Since:</label>
              <input [owlDateTimeTrigger]="searchModel_since" [owlDateTime]="searchModel_since"
                     [(ngModel)]="searchModel.period"
                     [selectMode]="'rangeFrom'" class="form-control col-sm-8" name="searchModel_since">
              <owl-date-time #searchModel_since></owl-date-time>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" style="white-space: nowrap">Up to: <span *ngIf="_autoRefreshOn">Now (1 minute refresh)</span></label>
              <input [owlDateTimeTrigger]="searchModel_upTo" [owlDateTime]="searchModel_upTo"
                     [(ngModel)]="searchModel.period"
                     [style.visibility]="_autoRefreshOn ? 'hidden' : null"
                     [selectMode]="'rangeTo'" class="form-control col-sm-8" name="searchModel_upTo">
              <owl-date-time #searchModel_upTo></owl-date-time>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Granularity:</label>
              <select [(ngModel)]="searchModel.granularity"
                      class="form-control col-sm-8" name="searchModel_granularity">
                <option [ngValue]="'DAY'">Day</option>
                <option [ngValue]="'HOUR'">Hour</option>
              </select>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Users:</label>
              <angular2-multiselect [data]="prepData.data.users"
                                    [(ngModel)]="searchModel.users"
                                    [name]="'users'"
                                    [settings]="{classes: 'col-sm-8 multiselect'}">
              </angular2-multiselect>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label">From:</label>
              <angular2-multiselect [data]="prepData.data.ownerStatuses"
                                    [(ngModel)]="searchModel.fromStatuses"
                                    [name]="'fromStatuses'"
                                    [settings]="{classes: 'col-sm-8 multiselect'}">
              </angular2-multiselect>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label">To:</label>
              <angular2-multiselect [data]="prepData.data.ownerStatuses"
                                    [(ngModel)]="searchModel.toStatuses"
                                    [name]="'ownerStatuses'"
                                    [settings]="{classes: 'col-sm-8 multiselect'}">
              </angular2-multiselect>
            </div>

            <div class="form-group row">
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span> Show statistics
                </button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <div [class.col-sm-9]="!simple" [class.col-sm-12]="simple">
    <div class="card" *ngIf="statisticsData.any()">
      <div class="card-header" *ngIf="!_autoRefreshOn">
        User statistics<span *ngIf="simple"> since yesterdays midnight</span>. (Autorefresh: <input type="checkbox" style="margin-top: 5px"
               (change)="toggleAutoRefresh()"
               [(ngModel)]="_autoRefreshOn" name="searchModel_autoRefresh" id="searchModel_autoRefresh">)
      </div>
      <div class="card-body">
        <div class="row">
          <div class="big-loader" *ngIf="statisticsData.loading"></div>
          <div class="col-sm-12" style="height: 300px">
            <canvas id="canvas"  [hidden]="!statisticsData.data">{{ chart }}</canvas>
          </div>
        </div>
        <div class="row" *ngIf="!_autoRefreshOn && statisticsData.data">
          <div class="col-sm-12">
            <table class="table table-striped">
              <tr>
                <th>Name</th>
                <th>Total number of status changes in given time interval</th>
              </tr>
              <tr *ngFor="let user of totals">
                <td>{{user.name}}</td>
                <td>{{user.total}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
