<div class="form-check mb-2">
  <input class="form-check-input"
         id="includeArchivedNotifications"
         name="includeArchivedNotifications"
         type="checkbox"
         [(ngModel)]="includeArchived"
         (change)="archivedSelectionChanged()">
  <label class="form-check-label" for="includeArchivedNotifications">Show archived notifications</label>
</div>
<div class="big-loader" *ngIf="notifications.loading"></div>
<div class="alert alert-danger" *ngIf="notifications.error">{{notifications.error}}</div>
<table class="table table-sm" *ngIf="notifications.data">
  <tr>
    <th>Archive</th>
    <th>Subpart</th>
    <th>Work</th>
    <th>Area</th>
    <th>Amount</th>
    <th>State</th>
    <th>Decision</th>
    <th>Registered</th>
    <th>Confirmed</th>
    <th>Archived</th>
    <th>Damage</th>
  </tr>
  <tr *ngFor="let notification of notifications.data">
    <td>{{notification.archived ? 'Yes' : ''}}</td>
    <td>{{notification.cadastreSubPartCode}}</td>
    <td>{{notification.workCode}}</td>
    <td>{{notification.area}}ha</td>
    <td>{{notification.amountToBeCut}}tm</td>
    <td>{{notification.state}}</td>
    <td>{{notification.decision}}</td>
    <td>{{notification.registrationDate | date: 'dd.MM.yyyy'}}</td>
    <td>{{notification.confirmationDate | date: 'dd.MM.yyyy'}}</td>
    <td>{{notification.archiveDate | date: 'dd.MM.yyyy'}}</td>
    <td>{{notification.damageCode}}</td>
  </tr>
</table>
