<div style="width: 99%">
  <div *ngIf="bucketedReminders">
    <div *ngFor="let dayReminders of bucketedReminders"
         class="reminders-bucket"
         [class.red]="isToday(dayReminders.reminders[0].dueTime)"
         [class.yellow]="isTomorrow(dayReminders.reminders[0].dueTime)"
    >
      <div>
        <div>
          <h1>{{dayReminders.reminders[0].dueTime | date: 'dd. MMMM'}}</h1>
        </div>
      </div>
      <div>
        <div *ngFor="let reminder of dayReminders.reminders">
          <div class="card a-reminder">
            <div class="card-header" [class.ultra-red]="isInHour(reminder.dueTime)">
              <span
                class="duetime"
              >{{reminder.dueTime | date: 'HH:mm'}}</span>
              <div class="reminder-owner {{getUserBgColor(reminder.creator)}}">
                {{reminder.creator}}
              </div>
            </div>
            <div class="card-body">
              <span *ngIf="reminder.owner?.id">
                Owner: <a routerLink="/owners/{{reminder.owner.id}}">{{reminder.owner.name}}</a>
                <hr class="content-divider">
              </span>
              <span *ngIf="reminder.cadastre">
                Cadastre: {{reminder.cadastre}} - {{reminder.propertyName}}
                <hr class="content-divider">
              </span>
              {{reminder.text}}
            </div>
            <div class="card-footer">{{reminder.createdTime | date: 'dd.MM HH:mm'}}</div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <i>Last refreshed: {{lastRefreshed | date: 'dd.MM.yyyy HH:mm:ss' }}</i>

  <hr>

  <div class="row">
    <div class="col-12">
      <app-user-statistics [simple]="true" [autoRefreshOn]="true"></app-user-statistics>
    </div>
  </div>
</div>
