<div class="simple-content-container">
  <div class="row">
    <div class="col-sm-12">

      <div *ngIf="owners.error" class="alert alert-danger">{{owners.error}}</div>
      <div *ngIf="owners.loading" class="big-loader"></div>

      <div *ngIf="owners.data">
        <p *ngIf="owners.data.length == 0">Nothing currently needs evaluation.</p>
        <div *ngIf="owners.data.length > 0">
          <p><i>Total of {{owners.data.length}} owner<span *ngIf="owners.data.length != 1">s</span> who <span
            *ngIf="owners.data.length != 1">are</span><span *ngIf="owners.data.length == 1">is</span> marked for
            evaluation: </i></p>
          <table class="table table-striped">
            <tr>
              <th>Owner ID</th>
              <th>Owner Name</th>
              <th>Assigned for evaluation</th>
              <th>Assignee</th>
            </tr>
            <tr *ngFor="let owner of owners.data | orderBy: 'statusSetAt'">
              <td><a routerLink="/owners/{{owner.id}}">{{owner.id}}</a></td>
              <td>{{owner.name}}</td>
              <td>{{owner.statusSetAt | date: 'HH:mm dd.MM.yyyy'}}</td>
              <td>{{owner.assignee?.name}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
