<div class="simple-content-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link {{tab == tabs.SEARCH_FOR_WORK ? 'active' : ''}}" href="javascript: void(0);" (click)="showTab(tabs.SEARCH_FOR_WORK)">Search for work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{tab == tabs.REASSIGN_OWNERS ? 'active' : ''}}" href="javascript: void(0);" (click)="showTab(tabs.REASSIGN_OWNERS)">Assigned work</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div *ngIf="tab == tabs.SEARCH_FOR_WORK">
            <app-work-search></app-work-search>
          </div>
          <div *ngIf="tab == tabs.REASSIGN_OWNERS">
            <app-reassign-work></app-reassign-work>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
