<div class="map-wrapper">
  <agm-map [mapTypeId]="'hybrid'" [mapTypeControl]="true">
    <app-the-map [owner]="ownerData.data"></app-the-map>
  </agm-map>
  <div class="map-left-pane">
    <div class="card" *ngIf="ownerData.data">
      <div class="card-header" style="padding: 2px 2px 0 0;">
        <span class="toggle-owner-info" (click)="toggleOwnerInfo()">
          <span *ngIf="!ownerInfoVisible" class="fa fa-chevron-down"></span>
          <span *ngIf="ownerInfoVisible" class="fa fa-chevron-up"></span>
        </span>&nbsp;<span class="lead"><span class="{{ownerGenderClass()}}">{{ownerData.data.name}}</span> ({{ownerData.data.id}})
        <span *ngIf="notificationsEnabled.data === true" (click)="disableNotifications()" class="fa fa-star" style="cursor: pointer; color: #ff9900" title="Notifications enabled. Click to disable."></span>
        <span *ngIf="notificationsEnabled.data === false" (click)="enableNotifications()" class="fa fa-star" style="cursor: pointer; color: rgba(0,0,0,0.25)" title="Notifications disabled. Click to enable."></span>
      <span (click)="moveToAnyAssignedOwner()" title="Move to some owner assigned to me"
            class="fa fa-retweet next-assigned-owner"></span>
      </span>
        <div class="row" *ngIf="ownerInfoVisible">
          <div class="owner-tab-nav">
            <a (click)="showOwnerTab(0)">General</a>
            <a (click)="showOwnerTab(1)">Cadastres</a>
            <a (click)="showOwnerTab(2)">Status</a>
            <a (click)="showOwnerTab(3)">Log</a>
          </div>
        </div>
      </div>

      <div class="card-body owner-card-body" [hidden]="!ownerInfoVisible">
        <div class="owner-pane-tab" *ngIf="visibleOwnerDetailsTab == 0">
          <form (ngSubmit)="saveChangesOnOwnerInfo(ownerData.data)" class="owner-form">
            <fieldset [disabled]="modifyOwner.loading">

              <div class="form-group row">
                <label for="phone" class="col-sm-4 col-form-label nowrap">Name:</label>
                <input type="text" class="form-control col-sm-8" id="name" name="name"
                       placeholder="Name" [(ngModel)]="ownerData.data.name">
              </div>

              <div class="form-group row">
                <label for="phone" class="col-sm-4 col-form-label nowrap">Phone:</label>
                <input type="text" class="form-control col-sm-8" id="phone" name="phone"
                       placeholder="Phone number" [(ngModel)]="ownerData.data.phone">
              </div>

              <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label nowrap">E-Mail:</label>
                <input type="text" class="form-control col-sm-8" id="email" name="email"
                       placeholder="E-Mail" [(ngModel)]="ownerData.data.email">
              </div>

              <div class="form-group row">
                <label for="address" class="col-sm-4 col-form-label nowrap">Address:</label>
                <input type="text" class="form-control col-sm-8" id="address" name="address"
                       placeholder="Address" [(ngModel)]="ownerData.data.address">
              </div>

              <div class="form-group row">
                <label for="type" class="col-sm-4 col-form-label nowrap">Type:</label>
                <select name="type" id="type" class="form-control col-sm-8" [(ngModel)]="ownerData.data.type">
                  <option value="ERAISIK">ERAISIK</option>
                  <option value="FIRMAD">FIRMAD</option>
                  <option value="RIIK">RIIK</option>
                </select>
              </div>

              <div class="form-group row">
                <label for="info" class="col-sm-4 col-form-label nowrap">Info:</label>
                <textarea class="form-control col-sm-8" id="info" name="info"
                          placeholder="Info" [(ngModel)]="ownerData.data.info"></textarea>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Save Changes</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="owner-pane-tab" *ngIf="visibleOwnerDetailsTab == 1">
          <div>
            <span>Total: {{ownerData.data.cadastres.length}} cadastre(s).</span>
            <br>
            <div class="row">
              <div class="col-sm-12" *ngIf="!shouldShowCadastreList()">
                <br>
                Owner has over 50 cadastres. For performance reasons they are hidden by default. Showing them may halt your browser for a while.
                <br>
                <br>
                <button class="btn btn-success" (click)="doShowCadastreList()">
                  Show cadastre list
                </button>
              </div>
            </div>
            <div class="row" *ngIf="shouldShowCadastreList()">
              <div class="col-sm-12">
                <form (ngSubmit)="markInterestingCadastres()">
                  <fieldset [disabled]="cadastreMarker.loading">
                    <table class="table table-striped table-sm">
                      <tr>
                        <th class="middle-aligned">
                          <span class="fa fa-check"></span>
                        </th>
                        <th><span (click)="setCadastreListOrder('-id')" class="fa fa-angle-down cursor-pointer"></span>
                          Cadastre
                          <span (click)="setCadastreListOrder('id')" class="fa fa-angle-up cursor-pointer"></span></th>
                        <th><span (click)="setCadastreListOrder('-name')"
                                  class="fa fa-angle-down cursor-pointer"></span>
                          Name
                          <span (click)="setCadastreListOrder('name')" class="fa fa-angle-up cursor-pointer"></span>
                        </th>
                        <th><span (click)="setCadastreListOrder('-area')"
                                  class="fa fa-angle-down cursor-pointer"></span>
                          Area
                          <span (click)="setCadastreListOrder('area')" class="fa fa-angle-up cursor-pointer"></span>
                        </th>
                      </tr>
                      <tr *ngFor="let cadastre of ownerData.data.cadastres | orderBy: [cadastreListOrder]"
                          [ngClass]="cadastre.marked ? 'marked' : null">
                        <td class="middle-aligned"><input type="checkbox" [(ngModel)]="cadastre.marked"
                                                          name="marked_{{cadastre.id}}"></td>
                        <td><a href="javascript:void(0);" (click)="activateCadastre(cadastre.id)">{{cadastre.id}}</a>
                        </td>
                        <td>{{cadastre.name}}</td>
                        <td>{{cadastre.area}} ha</td>
                      </tr>
                    </table>
                    <button class="btn btn-info" type="submit"><span class="fa fa-save"></span> Save</button>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="owner-pane-tab" *ngIf="visibleOwnerDetailsTab == 2">
          <app-owner-status [ownerId]="ownerData.data.id"></app-owner-status>
        </div>
        <div class="owner-pane-tab" *ngIf="visibleOwnerDetailsTab == 3">
          <app-owner-log [owner]="ownerData.data.id"></app-owner-log>
        </div>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="ownerData.error">{{ownerData.error}}</div>
    <div class="big-loader" *ngIf="ownerData.loading && !addOwnerFormVisible"></div>
    <div class="card" *ngIf="addOwnerFormVisible">
      <div class="card-body">
        <div class="big-loader" *ngIf="ownerAdder.loading"></div>
        <div *ngIf="!ownerAdder.loading">
          <div class="row"><p class="col-sm-12"><b>Owner {{ownerId}} was not found. Do you want to add it?</b></p></div>
          <div class="row form-group">
            <label for="owner-add-owner-name" class="col-sm-4 col-form-label">Owner name:</label>
            <input type="text" id="owner-add-owner-name" class="form-control col-sm-8"
                   [(ngModel)]="addOwnerOwnerName">
          </div>
          <div class="row form-group">
            <label for="type" class="col-sm-4 col-form-label nowrap">Type:</label>
            <select name="new_owner_type" id="new_owner_type" class="form-control col-sm-8" [(ngModel)]="addOwnerOwnerType">
              <option value="ERAISIK">ERAISIK</option>
              <option value="FIRMAD">FIRMAD</option>
              <option value="RIIK">RIIK</option>
            </select>
          </div>
          <br>
          <div class="row">
            <button class="btn btn-success col-sm-12"
                    (click)="addOwner()"
                    style="cursor: pointer">Add
            </button>
          </div>
          <br>
          <div class="row" *ngIf="ownerAdder.error">
            <div class="col-sm-12">
              <div class="alert alert-danger">{{ownerAdder.error}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="map-right-pane">
    <app-cadastre-profile></app-cadastre-profile>
  </div>
</div>
