<div *ngIf="maintainableUsers.error;else maintainableUsersTable">
  <div class="alert alert-danger">
    {{maintainableUsers.error}}
  </div>
</div>

<ng-template #maintainableUsersTable>
  <div *ngIf="maintainableUsers.loading;else maintainableUsersData">
    <i>Loading data, please wait...</i>
  </div>
  <ng-template #maintainableUsersData>
    <table class="table table-striped">
      <tr>
        <th>Username</th>
        <th>Full name</th>
        <th>OWNER_PROFILE</th>
        <th>ASSIGNED_OWNERS</th>
        <th>EVALUATION</th>
        <th>PHONES</th>
        <th>ADMIN</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let user of maintainableUsers.data">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td><input type="checkbox" [checked]="user.hasPrivilege('OWNER_PROFILE')"
                   (change)="user.togglePrivilege('OWNER_PROFILE')"></td>
        <td><input type="checkbox" [checked]="user.hasPrivilege('ASSIGNED_OWNERS')"
                   (change)="user.togglePrivilege('ASSIGNED_OWNERS')"></td>
        <td><input type="checkbox" [checked]="user.hasPrivilege('EVALUATION')"
                   (change)="user.togglePrivilege('EVALUATION')"></td>
        <td><input type="checkbox" [checked]="user.hasPrivilege('PHONES')"
                   (change)="user.togglePrivilege('PHONES')"></td>
        <td><input type="checkbox" [checked]="user.hasPrivilege('ADMIN')" (change)="user.togglePrivilege('ADMIN')">
        </td>
        <td class="right-aligned">
          <button class="btn btn-success" (click)="savePrivileges(user)"><span class="fa fa-save"></span> Save
          </button>
        </td>
        <td class="right-aligned">
          <button class="btn btn-danger" (click)="confirmDeleteUser(user)"><span class="fa fa-trash"></span> Delete User
          </button>
        </td>
      </tr>
    </table>
  </ng-template>
</ng-template>

<div class="card">
  <div class="card-header">
    Add user
  </div>
  <div class="card-body">

    <div *ngIf="addableUser.loading;else addableUserForm">
      <i>Adding new user. Please wait...</i>
    </div>

    <ng-template #addableUserForm>
      <form (ngSubmit)="addUser(userAddModel); addUserForm.reset()" #addUserForm="ngForm">
        <div class="row">
          <div class="col">
            <input type="text" name="id" [(ngModel)]="userAddModel.id" class="form-control" placeholder="Username">
          </div>
          <div class="col">
            <input type="text" name="name" [(ngModel)]="userAddModel.name" class="form-control" placeholder="Full name">
          </div>
          <div class="col">
            <button class="btn btn-success">Add user</button>
          </div>
        </div>
      </form>
      <div class="spacer">
        <div *ngIf="addableUser.data">
          <div class="alert alert-success">
            Account created for {{addableUser.data.user.name}} with username {{addableUser.data.user.id}}.
            Automatically created password is {{addableUser.data.password}}. Please ask {{addableUser.data.user.name}}
            to change it immediately.
          </div>
        </div>
        <div *ngIf="addableUser.error">
          <div class="alert alert-danger">
            {{addableUser.error}}
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
