<div class="simple-content-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link {{tab == tabs.MAINTAIN_USERS ? 'active' : ''}}" href="javascript: void(0);" (click)="showTab(tabs.MAINTAIN_USERS)">Maintain users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{tab == tabs.USER_STATISTICS ? 'active' : ''}}" href="javascript: void(0);" (click)="showTab(tabs.USER_STATISTICS)">User statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{tab == tabs.OWNER_STATUSES ? 'active' : ''}}" href="javascript: void(0);" (click)="showTab(tabs.OWNER_STATUSES)">Owner statuses</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div *ngIf="tab == tabs.MAINTAIN_USERS">
            <app-maintain-users></app-maintain-users>
          </div>
          <div *ngIf="tab == tabs.USER_STATISTICS">
            <app-user-statistics [autoRefreshOn]="false"></app-user-statistics>
          </div>
          <div *ngIf="tab == tabs.OWNER_STATUSES">
            <app-maintain-owner-statuses></app-maintain-owner-statuses>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
