<div class="big-loader-layer" *ngIf="bigLoaderVisible">
  <p>Loading data, please wait...</p>
</div>

<div class="simple-content-container">
  <div class="form-row" *ngIf="contractData.loading">
    <div class="big-loader"></div>
  </div>
  <form *ngIf="contractData.data">
    <div class="card form-row bg-info text-white">
      <div class="card-header">
        General contract details
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="contractNumber">Contract number</label>
            <input type="text" class="form-control" id="contractNumber" placeholder="Contract number"
                   [(ngModel)]="contractData.data.contractNumber"
                   name="contractNumber">
          </div>
          <div class="col-md-4 mb-3">
            <label for="contractDate">Contract date</label>
            <input
              [owlDateTimeTrigger]="contract_date" [owlDateTime]="contract_date"
              class="form-control" id="contractDate" placeholder="Contract date" name="contractDate"
              [(ngModel)]="contractData.data.contractDetails.dateOfEnforcement">
            <owl-date-time #contract_date [pickerType]="'calendar'" [firstDayOfWeek]="1"></owl-date-time>
          </div>
          <div class="col-md-4 mb-3">
            <label for="contractEndDate">Contract end date</label>
            <input
              [owlDateTimeTrigger]="contract_end_date" [owlDateTime]="contract_end_date"
              class="form-control" id="contractEndDate" placeholder="Contract end date"
              name="contractEndDate"
              [(ngModel)]="contractData.data.contractDetails.finalDate"
            >
            <owl-date-time #contract_end_date [pickerType]="'calendar'" [firstDayOfWeek]="1"></owl-date-time>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="price">Total selling price</label>
            <input type="number" class="form-control" id="price" placeholder="Total selling price"
                   [(ngModel)]="contractData.data.contractDetails.price"
                   name="price"
                   step=".01" min="0">
          </div>

          <div class="col-md-4 mb-3">
            <label for="writtenPrice">Total selling price with words</label>
            <input type="text" class="form-control" id="writtenPrice"
                   placeholder="Total selling price with words"
                   [(ngModel)]="contractData.data.contractDetails.writtenPrice"
                   name="writtenPrice"
            >
          </div>

          <div class="col-md-4 mb-3">
            <label for="daysToPayUp">Days to pay up</label>
            <input type="number" class="form-control" id="daysToPayUp" placeholder="Days to pay up"
                   min="0"
                   name="bankDaysToPayUp"
                   [(ngModel)]="contractData.data.contractDetails.bankDaysToPayUp">
            <input
              type="checkbox"
              id="bankDaysToPayUpCondition"
              name="bankDaysToPayUpCondition"
              [(ngModel)]="contractData.data.contractDetails.bankDaysToPayUpCondition" />
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="vat">Total VAT</label>
            <input type="number" class="form-control" id="vat" placeholder="Total VAT"
                   [(ngModel)]="contractData.data.contractDetails.vat"
                   name="vat"
                   step=".01" min="0">
          </div>

          <div class="col-md-4 mb-3">
            <label for="vatWithWords">Total VAT with words</label>
            <input type="text" class="form-control" id="vatWithWords"
                   placeholder="Total VAT with words"
                   [(ngModel)]="contractData.data.contractDetails.vatWithWords"
                   name="vatWithWords"
            >
          </div>
          <div class="col-md-8 mb-3">
            <label for="totalSellingPrice">Additional terms</label>
            <textarea class="form-control" id="additionalTerms" placeholder="Additional terms"
                      [(ngModel)]="contractData.data.contractDetails.additionalTerms"
                      name="additionalTerms" rows="7">
            </textarea>
          </div>
        </div>
      </div>
    </div>

    <br><br>

    <div class="card form-row bg-light"
         *ngFor="let cadastre of contractData.data.contractDetails.cadastres; let cadastreIndex = index">
      <div class="card-header">
        Cadastre <span class="fa fa-ban clickable"
                       (click)="removeCadastre(contractData.data.contractDetails.cadastres, cadastreIndex)"></span>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="cadastreNo_{{cadastreIndex}}">Cadastre no</label>
            <ng2-completer
              id="cadastreNo_{{cadastreIndex}}"
              placeholder="Cadastre no"
              [(ngModel)]="cadastre.id"
              [datasource]="cadastreCompleter"
              name="cadastreNo_{{cadastreIndex}}"
              type="text"
              [minSearchLength]="3"
              (selected)="onCadastreSelect($event, cadastre)"
              [inputClass]="'form-control'"></ng2-completer>
          </div>

          <div class="col-md-3 mb-3">
            <label for="cadastreName_{{cadastreIndex}}">Name</label>
            <input type="text" class="form-control" id="cadastreName_{{cadastreIndex}}" placeholder="Name"
                   name="cadastreName_{{cadastreIndex}}"
                   [(ngModel)]="cadastre.name">
          </div>

          <div class="col-md-3 mb-3">
            <label for="cadastreAddress_{{cadastreIndex}}">Address</label>
            <input type="text" class="form-control" id="cadastreAddress_{{cadastreIndex}}" placeholder="Address"
                   name="cadastreAddress_{{cadastreIndex}}"
                   [(ngModel)]="cadastre.address">
          </div>
          <div class="col-md-3 mb-3">
            <label for="regPartNumber_{{cadastreIndex}}">Registration part nr</label>
            <input type="text" class="form-control" id="regPartNumber_{{cadastreIndex}}"
                   placeholder="Registration part nr"
                   name="regPartNr_{{cadastreIndex}}"
                   [(ngModel)]="cadastre.registrationPartNumber">
          </div>
        </div>
        <div class="card form-row bg-light">
          <div class="card-header">
            Sections
          </div>
          <div class="card-body">
            <table class="table table-striped table-sm">
              <tr>
                <th></th>
                <th>Number</th>
                <th>Area (ha)</th>
                <th>Amount to be cut (tm)</th>
                <th>Type of work</th>
                <th>Notification ID</th>
              </tr>
              <tr *ngFor="let section of cadastre.forestSections; let sectionIndex = index">
                <td>
                  <button class="btn-danger"><span class="fa fa-ban"
                                                   (click)="removeSection(cadastre.forestSections, sectionIndex)"></span>
                  </button>
                </td>
                <td><input class="form-control" type="number" min="0" step="1" [(ngModel)]="section.sectionNumber"
                           name="sectionNumber_{{cadastreIndex}}_{{sectionIndex}}"></td>
                <td><input class="form-control" type="number" min="0" step="0.01"
                           name="sectionArea_{{cadastreIndex}}_{{sectionIndex}}" [(ngModel)]="section.area">
                </td>
                <td><input class="form-control" type="number" min="0" step="1"
                           name="sectionAmountToBeCut_{{cadastreIndex}}_{{sectionIndex}}"
                           [(ngModel)]="section.amountToBeCut">
                </td>
                <td>
                  <select class="form-control" [(ngModel)]="section.typeOfWork"
                          name="sectionTypeOfWork_{{cadastreIndex}}_{{sectionIndex}}">
                    <option value="LR">LR</option>
                    <option value="HR">HR</option>
                    <option value="AR">AR</option>
                    <option value="SR">SR</option>
                    <option value="VA">VA</option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control"
                         name="sectionNotificationId_{{cadastreIndex}}_{{sectionIndex}}"
                         [(ngModel)]="section.notificationId">
                </td>
              </tr>
              <tr>
                <td colspan="6">
                  <button class="btn-info" (click)="addSection(cadastre)">Add section</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <button class="col-sm-12 btn btn-success" (click)="addCadastre()">Add cadastre</button>
    </div>
    <br>

    <div class="card form-row bg-warning">
      <div class="card-header">
        Buyer
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="buyerCode">SSN/Reg. no.</label>
            <ng2-completer
              id="buyerCode"
              placeholder="SSN/Reg. no."
              [(ngModel)]="contractData.data.buyer.code"
              [datasource]="ownerCompleter"
              name="buyerCode"
              type="text"
              [minSearchLength]="3"
              (selected)="onBuyerSelect($event, contractData.data.buyer)"
              [inputClass]="'form-control'"></ng2-completer>
          </div>
          <div class="col-md-4 mb-3">
            <label for="buyerName">Name</label>
            <input type="text" class="form-control" id="buyerName" placeholder="Name"
                   [(ngModel)]="contractData.data.buyer.name" name="buyerName">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="buyerEmail">E-mail</label>
            <input type="text" class="form-control" id="buyerEmail" placeholder="E-mail"
                   [(ngModel)]="contractData.data.buyer.contactInformation.email" name="buyerEmail">
          </div>
          <div class="col-md-4 mb-3">
            <label for="buyerPhone">Phone no.</label>
            <input type="text" class="form-control" id="buyerPhone" placeholder="Phone no."
                   [(ngModel)]="contractData.data.buyer.contactInformation.phoneNo" name="buyerPhone">
          </div>
          <div class="col-md-4 mb-3">
            <label for="buyerAddress">Address</label>
            <input type="text" class="form-control" id="buyerAddress" placeholder="Address"
                   [(ngModel)]="contractData.data.buyer.contactInformation.address" name="buyerAddress">
          </div>
        </div>
        <button class="btn btn-secondary form-row" *ngIf="!contractData.data.buyer.proxy"
                (click)="yesProxy(contractData.data.buyer)">Has proxy
        </button>
        <div class="card form-row bg-light" *ngIf="contractData.data.buyer.proxy">
          <div class="card-header">
            Proxy <span class="fa fa-ban clickable" (click)="noProxy(contractData.data.buyer)"></span>
          </div>
          <div class="card-body">
            <div class="form-row">
              <div class="col-2">
                <label for="buyerProxyCode">SSN.</label>
                <ng2-completer
                  id="buyerProxyCode"
                  placeholder="SSN."
                  [(ngModel)]="contractData.data.buyer.proxy.code"
                  [datasource]="ownerCompleter"
                  name="buyerProxyCode"
                  type="text"
                  [minSearchLength]="3"
                  (selected)="onProxySelect($event, contractData.data.buyer.proxy)"
                  [inputClass]="'form-control'"></ng2-completer>
              </div>
              <div class="col-2">
                <label for="buyerProxyName">Name</label>
                <input type="text" class="form-control" id="buyerProxyName" placeholder="Name"
                       [(ngModel)]="contractData.data.buyer.proxy.name" name="buyerProxyName">
              </div>
              <div class="col-2">
                <label for="buyerProxyPhone">Phone</label>
                <input type="text" class="form-control" id="buyerProxyPhone" placeholder="Phone"
                       [(ngModel)]="contractData.data.buyer.proxy.contactInformation.phoneNo" name="buyerProxyPhone">
              </div>
              <div class="col-2">
                <label for="buyerProxyEmail">E-Mail</label>
                <input type="text" class="form-control" id="buyerProxyEmail" placeholder="E-Mail"
                       [(ngModel)]="contractData.data.buyer.proxy.contactInformation.email" name="buyerProxyEmail">
              </div>
              <div class="col-2">
                <label for="buyerProxyPhone">Address</label>
                <input type="text" class="form-control" id="buyerProxyAddress" placeholder="Address"
                       [(ngModel)]="contractData.data.buyer.proxy.contactInformation.address" name="buyerProxyAddress">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="card form-row bg-secondary text-white"
         *ngFor="let seller of contractData.data.sellers; let sellerIndex = index">
      <div class="card-header">
        Seller <span class="fa fa-ban clickable" (click)="removeSeller(contractData.data.sellers, sellerIndex)"></span>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="sellerCode_{{sellerIndex}}">SSN/Reg. no.</label>
            <ng2-completer
              id="sellerCode_{{sellerIndex}}"
              placeholder="SSN./Reg. nr."
              [(ngModel)]="seller.code"
              [datasource]="ownerCompleter"
              name="sellerCode_{{sellerIndex}}"
              type="text"
              [minSearchLength]="3"
              (selected)="onSellerSelect($event, seller)"
              [inputClass]="'form-control'"></ng2-completer>
          </div>
          <div class="col-md-4 mb-3">
            <label for="sellerName_{{sellerIndex}}">Name</label>
            <input type="text" class="form-control" id="sellerName_{{sellerIndex}}" placeholder="Name"
                   [(ngModel)]="seller.name" name="sellerName_{{sellerIndex}}">
          </div>
          <div class="col-md-4 mb-3">
            <label for="sellerName_{{sellerIndex}}">Vat no</label>
            <input type="text" class="form-control" id="sellerVatNo_{{sellerIndex}}" placeholder="Vat no"
                   [(ngModel)]="seller.vat" name="sellerVatNo_{{sellerIndex}}">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="sellerEmail_{{sellerIndex}}">E-mail</label>
            <input type="text" class="form-control" id="sellerEmail_{{sellerIndex}}" placeholder="E-mail"
                   [(ngModel)]="seller.contactInformation.email" name="sellerEmail_{{sellerIndex}}">
          </div>
          <div class="col-md-4 mb-3">
            <label for="sellerPhone_{{sellerIndex}}">Phone no.</label>
            <input type="text" class="form-control" id="sellerPhone_{{sellerIndex}}" placeholder="Phone no."
                   [(ngModel)]="seller.contactInformation.phoneNo" name="sellerPhone_{{sellerIndex}}">
          </div>
          <div class="col-md-4 mb-3">
            <label for="sellerAddress_{{sellerIndex}}">Address</label>
            <input type="text" class="form-control" id="sellerAddress_{{sellerIndex}}" placeholder="Address"
                   [(ngModel)]="seller.contactInformation.address" name="sellerAddress_{{sellerIndex}}">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="sellerBankAccountNumber_{{sellerIndex}}">Bank account no.</label>
            <input type="text" class="form-control" id="sellerBankAccountNumber_{{sellerIndex}}"
                   placeholder="Bank account no"
                   [(ngModel)]="seller.bankAccountNumber" name="sellerAccountNo_{{sellerIndex}}">
          </div>
          <div class="col-md-4 mb-3">
            <label for="amountPayedToSeller_{{sellerIndex}}">Amount payed to seller</label>
            <input type="number" min="0" step="0.01" class="form-control" id="amountPayedToSeller_{{sellerIndex}}"
                   placeholder="Amount payed to seller"
                   [(ngModel)]="seller.moneyObtainedFromTheDeal" name="sellerBenefit_{{sellerIndex}}">
          </div>
        </div>
        <button class="btn btn-primary form-row" *ngIf="!seller.proxy"
                (click)="yesProxy(seller)">Has proxy
        </button>
        <div class="card form-row bg-dark" *ngIf="seller.proxy">
          <div class="card-header">
            Proxy <span class="fa fa-ban clickable" (click)="noProxy(seller)"></span>
          </div>
          <div class="card-body">
            <div class="form-row">
              <div class="col-2">
                <label for="buyerProxyCode">SSN.</label>
                <ng2-completer
                  id="sellerProxyCode_{{sellerIndex}}"
                  placeholder="SSN."
                  [(ngModel)]="seller.proxy.code"
                  [datasource]="ownerCompleter"
                  name="buyerProxyCode"
                  type="text"
                  [minSearchLength]="3"
                  (selected)="onProxySelect($event, seller.proxy)"
                  [inputClass]="'form-control'"></ng2-completer>
              </div>
              <div class="col-2">
                <label for="buyerProxyName">Name</label>
                <input type="text" class="form-control" id="sellerProxyName_{{sellerIndex}}" placeholder="Name"
                       [(ngModel)]="seller.proxy.name" name="buyerProxyName">
              </div>
              <div class="col-2">
                <label for="buyerProxyPhone">Phone</label>
                <input type="text" class="form-control" id="sellerProxyPhone_{{sellerIndex}}" placeholder="Phone"
                       [(ngModel)]="seller.proxy.contactInformation.phoneNo" name="buyerProxyPhone">
              </div>
              <div class="col-2">
                <label for="buyerProxyEmail">E-Mail</label>
                <input type="text" class="form-control" id="sellerProxyEmail_{{sellerIndex}}" placeholder="E-Mail"
                       [(ngModel)]="seller.proxy.contactInformation.email" name="buyerProxyEmail">
              </div>
              <div class="col-2">
                <label for="buyerProxyPhone">Address</label>
                <input type="text" class="form-control" id="sellerProxyAddress_{{sellerIndex}}" placeholder="Address"
                       [(ngModel)]="seller.proxy.contactInformation.address" name="buyerProxyAddress">
              </div>
              <div class="col-2">
                <label for="buyerProxyPhone">Base of representation</label>
                <select class="form-control"
                  name="sellerProxyBaseOfRepresentation_{{sellerIndex}}"
                  id="sellerProxyBaseOfRepresentation_{{sellerIndex}}"
                  [(ngModel)]="seller.proxy.proxyRepresentationBase">
                  <option value="MEMBER_OF_BOARD">Member of board</option>
                  <option value="AUTHORISATION">Authorisation</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <button class="btn btn-success col-sm-12" (click)="addSeller()">Add seller</button>
    </div>
    <br>
    <div class="form-row">
      <div class="btn-group btn-group-toggle">
        <label class="btn btn-light"
               [ngClass]="{'btn-danger': contractData.data.templateNumber === 0,'btn-light': contractData.data.templateNumber !== 0}">
          <input type="radio" name="options" id="option1" [value]="0" [(ngModel)]="contractData.data.templateNumber">
          Template 1
        </label>
        <label class="btn"
               [ngClass]="{'btn-danger': contractData.data.templateNumber === 1,'btn-light': contractData.data.templateNumber !== 1}">
          <input type="radio" name="options" id="option2" [value]="1" [(ngModel)]="contractData.data.templateNumber">
          Template 2
        </label>
      </div>
    </div>
    <br>
    <div class="form-row">
      <button class="btn btn-primary col-sm-12" (click)="createContract(contractData.data)">Create contract</button>
    </div>
  </form>

  <br>

  <div class="row card">
    <div class="card-header">Historical contracts:</div>
    <div class="card-body">
      <div class="big-loader" *ngIf="historicalContracts.loading"></div>
      <div class="col-sm-12" *ngIf="historicalContracts.error">
        <div class="alert alert-danger">{{historicalContracts.error}}</div>
      </div>
      <div class="col-sm-12" *ngIf="historicalContracts.data">
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <input
              id="searchContractHistoryCadastre"
              placeholder="Cadastre"
              [(ngModel)]="historicalContractsSearchFilter.cadastre"
              name="searchContractHistoryCadastre"
              type="text"
              class="form-control"/>
          </div>
          <div class="col-md-3 mb-3">
            <input
              id="searchContractHistoryBuyer"
              placeholder="Buyer name"
              [(ngModel)]="historicalContractsSearchFilter.buyer"
              name="searchContractHistoryBuyer"
              type="text"
              class="form-control"/>
          </div>
          <div class="col-md-3 mb-3">
            <input
              id="searchContractHistorySeller"
              placeholder="Seller name"
              [(ngModel)]="historicalContractsSearchFilter.seller"
              name="searchContractHistorySeller"
              type="text"
              class="form-control"/>
          </div>
          <div class="col-md-3 mb-3">
            <button class="btn btn-info" (click)="listHistoricalContracts(0)">Filter</button>
          </div>
        </div>

        <table class="table table-striped">
          <tr>
            <th>Contract number</th>
            <th>Created at</th>
            <th>Buyer</th>
            <th>Sellers</th>
            <th>Delete record</th>
          </tr>
          <tr *ngFor="let hc of historicalContracts.data">
            <td><a href="javascript: void(0)" (click)="loadContractDataModel(hc.id)">{{hc.contractNo}}</a></td>
            <td>{{hc.created | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td>{{hc.buyer}}</td>
            <td>{{hc.sellers}}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteContract(hc.id)"><span class="fa fa-trash"></span></button>
            </td>
          </tr>
        </table>
        <p>
          <button *ngIf="historicalContractsSearchFilter.offset > 0"
                  (click)="listHistoricalContracts(historicalContractsSearchFilter.offset - 10)" class="btn btn-light">
            &lt; Previous 10
          </button>
          <button *ngIf="historicalContracts.data.length >= 10" class="btn btn-light"
                  (click)="listHistoricalContracts(historicalContractsSearchFilter.offset + 10)">Next 10 &gt;
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
