.label-bubble {
  background-color: #ffc655;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
  white-space: nowrap;
}

.label-bubble-content {
  margin: 5px;
  display: inline-block;
}

.label-bubble-add {
  background-color: #f2ecec;
}

.label-bubble-icon {
  display: inline-block;
  cursor: pointer;
  background-color: #d3d8ff;
  border-radius: 0 5px 5px 0;
  padding: 5px;
}
