<div class="big-loader" *ngIf="ownerStatuses.loading"></div>
<div class="alert alert-danger" *ngIf="ownerStatuses.error">{{ownerStatuses.error}}</div>
<div class="row" *ngIf="ownerStatuses.data">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        Existing statuses
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <tr>
            <th>Status</th>
            <th>Makes owner inactive for N days</th>
            <th>Status color (HEX)</th>
            <th></th>
            <th></th>
          </tr>
          <tr *ngFor="let status of ownerStatuses.data">
            <td>{{status.id}}</td>
            <td><input class="form-control" type="number" [(ngModel)]="status.durationDays" min="0" step="1"></td>
            <td><input class="form-control" type="text" [style.background]="'#' + status.colorHex" [(ngModel)]="status.colorHex"></td>
            <td>
              <button class="btn btn-info" (click)="saveStatus(status)">Save changes</button>
            </td>
            <td>
              <button class="btn btn-danger" *ngIf="!status.protectedReason" (click)="deleteStatus(status.id)">Delete
              </button>
            </td>
          </tr>
          <tr>
            <th colspan="5">Add new status:</th>
          </tr>
          <tr>
            <td><input class="form-control" type="text" [(ngModel)]="newStatus.id"></td>
            <td><input class="form-control" type="text" [(ngModel)]="newStatus.durationDays"></td>
            <td><input class="form-control" type="text" [style.background]="'#' + newStatus.colorHex" [(ngModel)]="newStatus.colorHex"></td>
            <td colspan="2" style="text-align: center"><button class="btn btn-success" (click)="addNewStatus()">Save</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
