.owner-log .timestamp {
  text-align: right;
  font-style: italic;
  white-space: nowrap;
}

.owner-log .card-header {
  font-size: 12px;
}

.owner-log .creator {
  color: white;
  padding: 3px;
  border-radius: 3px;
}

.owner-log .card {
  margin-bottom: 10px;
}

.owner-log .card-header, .owner-log .card-body {
  padding: 5px !important;
}

.owner-log .card-body pre {
  padding: 0;
  margin: 0;
}

.owner-log .add-entry {
  margin-bottom: 10px;
}

.owner-log .add-entry table {
  width: 100%;
}

.owner-log .add-entry table td.logtext {
  width: 80%;
  height: 120px;
}

.owner-log .add-entry table td.logtext textarea {
  height: 100%;
  width: 100%;
}

.owner-log .add-entry table td.logbutton {
  width: 20%;
  height: 120px;
}

.bg_1 {
  background-color: #2ac9ff;
}

.bg_2 {
  background-color: #27c297;
}

.bg_3 {
  background-color: #28c21a;
}

.bg_4 {
  background-color: #aac20a;
}

.bg_5 {
  background-color: #c2701e;
}

.bg_6 {
   background-color: #c25158;
 }

.bg_7 {
  background-color: #bc5fc2;
}

.bg_8 {
  background-color: #6d62c2;
}

.bg_9 {
  background-color: #5778c2;
}

pre.log-message {
  white-space: pre-wrap;
}
