<div [class.simple-content-container]="!simple">
  <div *ngIf="!simple" class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">Add a new reminder</div>
        <div class="card-body">
          <form>
            <fieldset [disabled]="newReminderSubmitter.loading">
              <div class="form-group row">
                <div class="col-sm-12">
                  <label for="add_reminder_text">Text of reminder</label>
                  <textarea [(ngModel)]="newReminder.text" name="add_reminder_text" id="add_reminder_text"
                            class="form-control"
                            maxlength="500"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3">
                  <label for="add_reminder_due_time">Due time</label>
                  <input [(ngModel)]="newReminder.dueTime" [owlDateTimeTrigger]="add_reminder_due_time"
                         [owlDateTime]="add_reminder_due_time"
                         [min]="minRemindersDate"
                         id="add_reminder_due_time" class="form-control" name="add_reminder_due_time">
                  <owl-date-time #add_reminder_due_time></owl-date-time>
                </div>
                <div class="col-sm-3">
                  <label for="add_reminder_owner_id">Owner Code (optional)</label>
                  <input [(ngModel)]="newReminder.owner.id" type="text" name="add_reminder_owner_id"
                         id="add_reminder_owner_id" class="form-control"/>
                </div>
                <div class="col-sm-3">
                  <label for="add_reminder_owner_id">Cadastre No. (optional)</label>
                  <input [(ngModel)]="newReminder.cadastre" type="text" name="add_reminder_cadastre"
                         id="add_reminder_cadastre" class="form-control"/>
                </div>
              </div>
              <button type="submit" class="btn btn-success form-control" id="add_reminder_submit"
                      name="add_reminder_submit"
                      (click)="submitReminder()">Add
              </button>
              <div class="row" *ngIf="newReminderSubmitter.error">
                <div class="col-sm-12">
                  <div class="alert alert-danger">{{newReminderSubmitter.error}}</div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">Reminders</div>
        <div class="card-body">
          <table class="table">
            <tr>
              <th>Owner</th>
              <th>Reminder</th>
              <th>Created time</th>
              <th>Due time</th>
              <th></th>
            </tr>
            <tr *ngFor="let reminder of reminders.data" [class.past_due_time_reminder]="isPastDueTime(reminder)" [class.soon_due_reminder]="isDueTimeToday(reminder)">
              <td><a *ngIf="reminder.owner?.id" href="../owners/{{reminder.owner.id}}">{{reminder.owner.name}}</a></td>
              <td>{{reminder.text}}</td>
              <td>{{reminder.createdTime | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
              <td>{{reminder.dueTime | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
              <td><button (click)="deleteReminder(reminder.id)" class="btn btn-danger"><span class="fa fa-trash"></span></button></td>
            </tr>
            <tr *ngIf="reminders.data?.length == 0">
              <td colspan="3"><i>No reminders were found</i></td>
            </tr>
            <tr *ngIf="reminders.error">
              <td colspan="3">1
                <div class="alert alert-danger">{{reminders.error}}</div>
              </td>
            </tr>
            <tr *ngIf="reminders.loading">
              <td colspan="3">
                <div class="big-loader"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
