.cadastre-card-body {
  max-height: 20vw;
  overflow: scroll;
}

.card > .card-header {
  padding: 0 1rem;
}

.cad-pane-cad-name {
  padding-top: 10px;
  margin-bottom: 5px;
}

.kadastrs-link {
  background-color: #1daf00;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.cadastre-tab-nav a {
  padding: 10px 10px 10px 5px;
  color: white;
  cursor: pointer;
  border-right: 1px solid white;
}

.cadastre-tab-nav a:first-of-type {
  padding-left: 10px;
}

.cadastre-tab-nav a:last-of-type {
  border-right: 0 !important;
}

.cadastre-tab-nav {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  background-color: #17a2b8;
  margin-top: 5px;
}
