<div class="big-loader" *ngIf="cadastre.loading"></div>
<div class="alert alert-danger" *ngIf="cadastre.error">{{cadastre.error}}</div>
<div class="card" *ngIf="cadastre.data">
  <div class="card-header">
    <p class="lead cad-pane-cad-name">
      <span>{{cadastre.data.id}}</span>
      <span style="float: right">
        <span class="fa fa-copy" style="cursor: pointer" (click)="copyToClipboard(cadastre.data.id)"></span>
        <span class="fa fa-search-plus cursor-pointer" (click)="zoomMapToActiveCadastre()"></span>
        <span class="fa fa-search-minus cursor-pointer" (click)="zoomMapToEstonia()"></span>
        <span class="fa fa-times-circle cursor-pointer" (click)="close()"></span>
      </span>
      <br>
      <span *ngIf="cadastre.data.name" class="badge badge-danger">{{cadastre.data.name}}</span>

    </p>
    <div class="row">
      <div class="cadastre-tab-nav">
        <a (click)="showCadastreTab(0)">General</a>
        <a (click)="showCadastreTab(1)">Areas</a>
        <a (click)="showCadastreTab(2)">Owners</a>
        <a (click)="showCadastreTab(3)">Notifications</a>
        <a (click)="showCadastreTab(4)">Evaluation</a>
        <a (click)="showCadastreTab(5)">Registry</a>
      </div>
    </div>
  </div>
  <div class="card-body cadastre-card-body">

    <div class="cadastre-pane-tab" *ngIf="visibleCadastreDetailsTab == 0">
      <div>
        <img
          src="http://geoportaal.maaamet.ee/url/xgis-ky.php?ky={{cadastre.data.id}}&out=map" width="100%">
      </div>
      <table class="table table-sm">
        <tr>
          <td colspan="2">
            <a target="_blank" href="http://xgis.maaamet.ee/maps/XGis?app_id=UU82A&user_id=at&searchid=UUOTS_KY_82&tunnus={{cadastre.data.id}}&setlegend=UUKORG_82=1,FUUMAAKATE_82=1">
              <button class="btn-success">Heightmap</button>
            </a>
            <a target="_blank" href="https://kls.pria.ee/kaart/#otsi=kataster/{{cadastre.data.id}}">
              <button class="btn-primary">PRIA</button>
            </a>
            <a target="_blank" href="http://xgis.maaamet.ee/xGIS/XGis?app_id=UU204&user_id=at&searchid=UUOTS_KYKITA_204&tunnus={{cadastre.data.id}}">
              <button class="btn-danger">Conservation</button>
            </a>
            <a target="_blank" href="https://xgis.maaamet.ee/ky/{{cadastre.data.id}}">
              <button class="btn-secondary">CR</button>
            </a>
            <a target="_blank" href="https://register.metsad.ee/#/?kataster={{cadastre.data.id}}">
              <button class="btn-dark">FR</button>
            </a>
          </td>
        </tr>
        <tr *ngIf="cadastre.data.type">
          <th>Type</th>
          <td>{{cadastre.data.type}}</td>
        </tr>
        <tr *ngIf="cadastre.data.county">
          <th>County</th>
          <td>{{cadastre.data.county}}</td>
        </tr>
        <tr *ngIf="cadastre.data.municipality">
          <th>Municipality</th>
          <td>{{cadastre.data.municipality}}</td>
        </tr>
        <tr *ngIf="cadastre.data.address">
          <th>Full Address</th>
          <td>{{cadastre.data.address}}</td>
        </tr>
        <tr *ngIf="cadastre.data.regNr">
          <th>Reg. Nr.</th>
          <td>{{cadastre.data.regNr}}</td>
        </tr>
        <tr *ngIf="cadastre.data.mkDate">
          <th>Forest plan</th>
          <td>{{cadastre.data.mkDate | date: 'dd.MM.yyyy'}}</td>
        </tr>
        <tr>
          <th>Labels:</th>
          <td>
            <app-cadastre-labels [cadastre]="cadastre.data.id"></app-cadastre-labels>
          </td>
        </tr>
      </table>
    </div>

    <div class="cadastre-pane-tab" *ngIf="visibleCadastreDetailsTab == 1">
      <app-areas [cadastre]="cadastre.data.id"></app-areas>
    </div>

    <div class="cadastre-pane-tab" *ngIf="visibleCadastreDetailsTab == 2">
      <table class="table table-sm">
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
        <tr *ngFor="let owner of cadastre.data.owners">
          <td>
            <a *ngIf="iAmAllowedToViewOwner(owner);else ownerNotAllowed"
               routerLink="/owners/{{owner.id}}">{{owner.id}}</a>
            <ng-template #ownerNotAllowed>{{owner.id}}</ng-template>
          </td>
          <td>{{owner.name}}</td>
        </tr>
      </table>
    </div>

    <div class="cadastre-pane-tab" *ngIf="visibleCadastreDetailsTab == 3">
      <app-cadastre-notifications [cadastre]="cadastre.data.id"></app-cadastre-notifications>
    </div>

    <div class="cadastre-pane-tab" *ngIf="visibleCadastreDetailsTab == 4">
      <app-cadastre-evalutation [cadastre]="cadastre.data.id"></app-cadastre-evalutation>
    </div>

    <div class="cadastre-pane-tab" *ngIf="visibleCadastreDetailsTab == 5">
      <app-registry-features [cadastre]="cadastre.data.id"></app-registry-features>
    </div>
  </div>
</div>
