<div class="card">
  <div class="card-header">
    Received messages <span *ngIf="!fullView"><a [routerLink]="'/messages'">(Go to messages page)</a></span>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th>Time</th>
        <th>Sender</th>
        <th>Message</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let message of incomingMessages | async" [class.unread-message]="!message.noticedAt">
        <td>{{message.createdAt | date: 'dd.MM.yyyy HH:mm'}}</td>
        <td>{{message.sender}}</td>
        <td [innerHTML]="message.message | linkifyMessage"></td>
      </tr>
      </tbody>
    </table>
    <p>
    <button class="btn btn-success" (click)="firstPage()">Check for new messages</button>
    <button class="btn btn-success" (click)="nextPage()">Show next {{numberOfMessages}} messages</button>
    <button class="btn btn-success" (click)="markAllAsRead()">Mark all as read</button>
    </p>
  </div>
</div>
